[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "plugins/mingus"]
	path = plugins/mingus
	url = https://github.com/pft/mingus.git
[submodule "plugins/smex"]
	path = plugins/smex
	url = https://github.com/nonsequitur/smex.git
